@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

#mapContainer {
    height: 100vh;
    width: 100vw;
}

#map {
    height: 100%
}

form {
    width: 480px;
    border: 1px solid black;
    border-radius: 0.50rem;
    z-index: 5;
    background: white; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 0.25rem;
}

form .difficulty {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form .difficulty h1 {
    font-size: 1.5rem;
}

form .difficulty .difficulty-select {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    
    padding: 8px;

    background: #fff;
    border: 0.5px solid #000000;
    color: #000000;
    text-align: center;

    font-size: 0.80rem;
}

form input {
    border: 0.25px solid #000000;
    height: 2rem;
    background: #e2e2e2;
    font-family: "Roboto", sans-serif;
}

form textarea {
    border: 0.25px solid #000000;
    height: 5rem;
    background: #e2e2e2;
}

form button {
    border: 0.25px solid #000000;
    border-radius: 0.25rem;
    margin-top: 1rem;
    height: 2rem;
    background: #7f7dff;
    color: #fff;
    font-size: 1rem;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap: 1.5rem;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    border: 0.25px solid #000000;
    border-radius: 0.5rem ;
    padding: 1rem;
    background: #fafafa;
}

.welcome-message .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;

    font-size: 1rem;
}

.welcome-message .right li {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.welcome-message button {
    margin-top: 3rem;

    border: 0.25px solid #000000;
    border-radius: 0.25rem;
    margin-top: 1rem;
    height: 3rem;
    width: 50%;
    background: #7f7dff;
    color: #fff;
    font-size: 1rem;
}

.mapboxgl-popup-content {
    width: 16vw;
    padding: 0;
}

.mapboxgl-popup-close-button {
    display: none;
}

.user-point, .event-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 1rem;
    gap: 1rem;

    background: white;
    border-radius: 0.15rem;
    width: 15vw;
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 2rem;

    font-size: 0.60rem;
}


.top-bar .location {
    max-width: 10rem;
}

.circle {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    
    padding: 8px;

    background: #fff;
    border: 0.5px solid #000000;
    color: #000000;
    text-align: center;

    font-size: 0.80rem;
}

.user-point p, .event-point p {
    font-size: 1rem;
}

.pop-up {
    z-index: 5;
    background: #fff;

    position: absolute;
    right: 1%;
    bottom: 1%;

    font-size: 0.75rem;
    padding: 0.5rem;
    border: 0.5px solid #000000;
    border-radius: 0.5rem;

    opacity: 0.0;
}